.page {
  height: 100%;
  width: 100%;
  background-image: url(./../../../../public/assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    gap: 50px;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      header,
      h1,
      article {
        color: white;
      }

      header {
        opacity: 0.5;
      }

      @media screen and (max-width: 1080px) {

        header,
        h1,
        article {
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 1080px) {
      section {
        gap: 0px;
      }
    }
  }

  @media screen and (max-width: 1080px) {
    main {
      gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: end;

      img {
        height: 50vh;
      }
    }
  }

  img {
    mask-image: linear-gradient(to bottom, #000, 95%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, #000, 95%, rgba(0, 0, 0, 0));
  }
}

.crew-selector-container {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 80%;
    justify-content: end;
    gap: 20px;
  }

  .crew-selector-container {
    position: static;
  }
}
