<div class="page">
  <div class="container">
    <app-section-number-header [sectionNumber]="2" title="Meet your crew">
    </app-section-number-header>
    <main>
      <section>
        <header class="text-preset-4">
          {{dataService.currentCrew.role}}
        </header>
        <h1 class="text-preset-3">{{dataService.currentCrew.name}}</h1>
        <article class="text-preset-9">{{dataService.currentCrew.bio}}</article>
        <div class="crew-selector-container">
          <app-index-circular-selector [currentIndex]="dataService.currentCrewIndex"
            [numberOfChoices]="dataService.data.crew.length"
            (onIndexPress)="setCrewIndex($event)"></app-index-circular-selector>
        </div>
      </section>
      <img [src]="dataService.currentCrew.images.png">
    </main>
  </div>
</div>
