<div class="page">
  <div class='container'>
    <app-section-number-header [sectionNumber]="1" title="Pick your Destination">
    </app-section-number-header>
    <main class="sub-container">
      <img [src]="dataService.currentDestination.images.png">
      <section>
        <nav>
          @for (data of this.dataService.data.destinations; track data.name; let index = $index) {
          <div class="route-selector" (click)="setCurrentDestination(index)"
            [class.selected]="dataService.destinationIndex.value == index">
            <h3 class="text-preset-8">{{data.name}}</h3>
          </div>
          }
        </nav>
        <h1 class="text-preset-2">
          {{dataService.currentDestination.name}}
        </h1>
        <article class="text-preset-9">
          {{dataService.currentDestination.description}}
        </article>
        <hr />
        <app-distance-display [displayList]='displayList'></app-distance-display>
      </section>
    </main>
  </div>
</div>
