.multi-purpose-display {
  display: flex;
}

.distance-display {
  flex-grow: 1;

  h2,
  h4 {
    color: white;
    flex-grow: 1;
  }

  h2 {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1080px) {
  .distance-display {

    h2,
    h4 {
      text-align: center;
    }
  }
}
