<div class="page-container">
  <header class="nav-header">
    <img src="assets/shared/logo.svg" height="40" width="40" (click)="navigatorService.navigateToRoute('')" />
    <hr>
    <app-navigator *ngIf="!isSmallScreen" [isVertical]='false'></app-navigator>
    <button *ngIf="isSmallScreen" (click)="toggleNavBar()" class="nav-button">
      <img src='assets/shared/icon-hamburger.svg' height="20" width="20">
    </button>
  </header>
  <router-outlet></router-outlet>
  <div *ngIf="isNavbarShowing" class="vertical-nav">
    <div class="row-button">
      <button (click)="toggleNavBar()" class="nav-button">
        <img src="assets/shared/icon-close.svg" height="20" width="20">
      </button>
    </div>
    <app-navigator [isVertical]="true" (onRouteSelected)="toggleNavBar()"></app-navigator>
  </div>
</div>
