<div class="page-container">
  <header class="nav-header">
    <img src="assets/shared/logo.svg" height="40" width="40" (click)="navigateToRoute('')" />
    <hr>
    <nav>
      <div *ngFor="let title of navigatable; index as i" class="nav-item" [class.selected]="isCurrentRoute(title)"
        (click)="navigateToRoute(title)">
        <span class="text-preset-8">{{"0" + i}}</span>
        <li class="text-preset-8">{{title | uppercase}}</li>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
